h1{
    color: #D6D1CF;
    font-size: xx-large;
}

p{
    font-size: x-large;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgb(199, 183, 198);
    
}

.jumbotron{
    background-image: url('../images/jumbotron.jpg');
    background-size: cover;
    height: 100%;
}

.imgs {
    display: inline;
}


div.modal-dialog{
    min-width: 1000px;
    min-height: 500px;
}

div.modal-content{
    min-width: 800px;
    min-height: 500px;
}

@media screen and (max-width: 455px){

    div.modal-dialog{
        max-width: 300px;
        min-width: 280px;
    }
    div.modal-content{
        max-width: 300px;
        min-width: 280px;
        font-size: 0.8em;
    }

}