{% extends 'pictures/base.html'%}

{% block content %}
{{block.super}}

    
    <hr>
    <div class="row">
        {% for pic in pics %}
            
        {% if pic.image %}
                <hr>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 padding-0 hover ">
                    <a class="img-overlay" data-toggle="modal" data-target="#{{pic.name}}">
                        <img src="{{pic.image.url}}" class="img-thumbnail" alt="image" style="cursor:pointer">
                    </a>
                </div>
                <hr>
                
        {% endif %}
        {% endfor %}   
    </div>
    <hr>
    {% for pic in pics %}
        <div class="modal fade" id="{{pic.name}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">{{pic.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-9 col-lg-9">
                                <img id="img{{image.id}}" src="{{pic.image.url}}" class="img-thumbnail" alt="Image"  >

                            </div>
                            <div class="col-md-3">
                                
                                <p>Location: {{pic.location.location_name}}</p>
                                <hr>
                                
                                <p>Category: {{pic.category.category_name}}</p>
                            </div>
                            <div>
                                <h4 class="desc">Name: {{pic.name}}</h2>
                                <hr>
                                <h5>Description</h5>
                                <p class="desc">{{pic.description}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
     
    {% endfor %}



{% endblock %}